.categoriesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    &-content {
        flex-grow: 1;
    }
}